.App {
  text-align: center;
}
textarea {
  background-color: lightsalmon;
}
#preview {
  background-color: lightsteelblue;
  margin-right: 20px;
  margin-left:20px;
  min-height: 500px;
}

#editor {
  margin-top: 20px;
}
